---
import Heading from "../../../Shared/components/ui/Heading.astro";

const { lang } = Astro.props;
---

<section class="flex flex-col h-auto lg:flex-row items-stretch gap-8 md:gap-40">
  <div
    class="w-full lg:max-w-xl aspect-video lg:aspect-[4/5] overflow-hidden rounded-2xl"
  >
    <img
      src="/images/hall.webp"
      alt="conector image"
      class="object-cover object-center h-full w-full lg:w-fit rounded-md"
    />
  </div>
  <div class="flex flex-col justify-between gap-4 md:gap-12 max-w-2xl h-auto">
    <Heading level="h2">
      {lang.home.hall.title}
    </Heading>
    <div class="flex flex-col gap-10">
      <div class="flex flex-col gap-4">
        <h3 class="relative font-bold text-black text-xl md:text-5xl">
          <span class="text-black text-base absolute top-0 -left-3 md:-left-2"
            >1</span
          >{lang.home.hall.items[0].title}
        </h3>
        <p>{lang.home.hall.items[0].description}</p>
        <hr />
      </div>
      <div class="flex flex-col gap-4">
        <div class="flex flex-col gap-2">
          <h3 class="relative font-bold text-black text-xl md:text-5xl">
            <span class="text-black text-base absolute top-0 -left-3 md:-left-2"
              >2</span
            >{lang.home.hall.items[1].title}
          </h3>
          <p>
            {lang.home.hall.items[1].description}
          </p>
          <hr />
        </div>
      </div>
      <div class="flex flex-col gap-4">
        <div class="flex flex-col gap-2">
          <h3 class="relative font-bold text-black text-xl md:text-5xl">
            <span class="text-black text-base absolute top-0 -left-3 md:-left-2"
              >3</span
            >{lang.home.hall.items[2].title}
          </h3>
          <p>{lang.home.hall.items[2].description}</p>
          <hr />
        </div>
      </div>
    </div>
  </div>
</section>
